target
build
out
.gradle
.lazybones
*.iml
*.iws
*.ipr
*.swp
.idea
.DS_Store
.gradletasknamecache
preferences.json
scenicView.properties
incoming
classes
docs
node_modules
grails-app/assets/bower
vendor
